.accordion {
	border-bottom: 1px solid #EFF0F2;

	&:first-of-type {
		border-top: 1px solid #EFF0F2;
	}

	&__header {
		position: relative;
		font-size: rem(20);
		line-height: 1.25;
		color: hubl("$articleFontColor");
		font-weight: 500;
		display: block;
		padding: 18px 35px 18px 0;

		@media (min-width: 576px) {
			padding: 18px 60px 18px 0;
		}

		&:after {
			display: block;
			position: absolute;
			content: "";
			width: 19px;
			height: 12px;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
			background-image: url(https://minun.posti.fi/hubfs/Posti%20Box/icons/chevron-down.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: all .3s ease;

			@media (min-width: 576px) {
				right: 24px;
			}
		}

		&:hover {
			text-decoration: none;
		}

		&--active {
			&:after {
				transform: translateY(-50%) scale(-1);
			}
		}
	}

	&__content {
		margin-top: 10px;
		margin-bottom: 10px;
		display: none;
		width: 780px;
		max-width: 100%;
	}
}