.back-to-listing {
	font-family: hubl("$secondaryFontFamily");
	font-weight: 500;
	display: none;
	color: #0051C2;
	position: relative;
	padding-left: 38px;
	font-size: rem(18);
	line-height: 1.77;
	letter-spacing: 0.0022em;
	text-decoration: none;

	@media (min-width: 576px) {
		display: block;
	}

	&:before {
		display: block;
		position: absolute;
		content: "";
		width: 17px;
		height: 15px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url(https://minun.posti.fi/hubfs/Posti%20Box/icons/arrow-left.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: left .3s ease;
	}

	&:hover {
		text-decoration: none;

		&:before {
			left: -3px;
		}
	}
}

