.boxy-row {

	&__item {
		width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
		overflow: hidden;

		&--align-left {
			margin-left: 0;
			margin-right: auto;
		}

		&--align-right {
			margin-left: auto;
			margin-right: 0;
		}
	}

	&__item-inner {
		height: 100%;
		position: relative;
	}

	&__item-content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;

		.hs_cos_wrapper_type_inline_rich_text {

			a:not(.box-cta):not(.cta_button) {
				color: #fff;
			}
		}

		&--vertical-image-active {
			padding-right: 60px;

			@media (min-width: 992px) {
				padding-right: 140px;
			}
		}
	}

	&__item-content-icon, &__item-content-top-text, &__item-content-bottom-text, &__item-content-accordion, &__item-content-link {
		padding: 0 25px;
		
		@media (min-width: 576px) {
			padding: 0 40px;
		}

		@media (min-width: 1200px) {
			padding: 0 60px;
		}
	}

	&__item-content-icon {
		margin-bottom: 50px;
	}

	&__item-content-accordion-button, &__item-content-link {

		a {
			color: #fff;
		}
	}

	&__item-content-accordion-body {
		display: none;
	}

	&__item-vertical-image {
		position: absolute;
		top: 50%;
		right: -18px;
		transform: translateY(-50%);
		line-height: 0.65;
		letter-spacing: -0.03em;
		transform: rotate(-90deg);
		transform-origin: top center;

		@media (min-width: 992px) {
			right: 40px;
		}

		img {
			transform: scale(0.56);

			@media (min-width: 992px) {
				transform: scale(1);
			}
		}
	}
}