.feature-box-container {

	@media (min-width: 576px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&--center-items {
			justify-content: center;
		}
	}

}

.feature-box {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 248px;

	@media (min-width: 576px) {
		flex: 0 0 248px;
		margin-left: 0;
		margin-right: 0;
	}

	&__icon {
		height: 80px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}

	&__value {
		font-weight: 500;
	}

	&__value-main {
		letter-spacing: -0.0267em;
	}

	&__value-appendix {
		letter-spacing: -0.0156em;
	}

	&__text {

		p {
			font-weight: 500;
		}
	}
}