.icon-text {
	display: flex;
	flex-wrap: wrap;

	&__icon {
		width: 100%;

		@media (min-width: 375px) {
			width: 60px;
		}
	}

	&__text {
		width: 100%;

		@media (min-width: 375px) {
			width: calc(100% - 60px);
			padding-left: 20px;
		}
	}
}