.box-language-switcher {

	.lang_switcher_class {
		width: 100%;
		display: block;
		padding-right: 14px;

		@media (min-width: 992px) {
			padding-right: 0;
		}

		.globe_class {
			background-image: none;
			border-radius: 0px;
			width: auto;
			height: auto;
			cursor: auto;
		}

		.lang_list_class {
			display: block;
			position: relative;
			top: 0;
			left: 0;
			transform: translateX(0) translateY(0);
			padding: 0;
			display: flex;
			margin-bottom: rem(10);
			width: 100%;
			justify-content: flex-end;
			opacity: 0;
			transition: all .3s ease;

			&.active {
				opacity: 1;
			}

			@media (min-width: 768px) {
				margin-bottom: rem(30);
			}

			&:before, &:after {
				display: none;
			}

			li {
				margin-left: 10px;
				margin-right: 0;
				padding: 0 0 0 10px;
				border: none;
				position: relative;
				line-height: 1;
				font-size: rem(16);
				background-color: transparent;
				border-left: 2px solid hubl("$metal");
				margin-bottom: 10px;

				@media (min-width: 576px) {
					font-size: rem(20);
				}

				&:first-of-type {
					border-left: none;

					a {
						opacity: .5;
						pointer-events: none;
					}
				}

				a {
					color: hubl("$metal");
					font-weight: 500;

					&:hover {
						color: hubl("$violet");
					}
				}
			}
		}
	}
}