@mixin box-cta {
    display: inline-block;
    font-family: hubl("$fontFamily");
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.4;
    text-decoration: none;
    box-sizing: border-box !important;
    border: 2px solid;
    border-radius: 50px;
    padding: rem(13) 22px;
    transition: all .2s ease;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

@mixin box-cta--1 {
    background-color: hubl("$cta1_backgroundColor");
    border-color: hubl("$cta1_borderColor");
    color: hubl("$cta1_textColor");

    &:hover {
        background-color: hubl("$cta1_backgroundColor_hover");
        border-color: hubl("$cta1_borderColor_hover");
        color: hubl("$cta1_textColor_hover");
    }
}

@mixin box-cta--2 {
    background-color: hubl("$cta2_backgroundColor");
    border-color: hubl("$cta2_borderColor");
    color: hubl("$cta2_textColor");

    &:hover {
        background-color: hubl("$cta2_backgroundColor_hover");
        border-color: hubl("$cta2_borderColor_hover");
        color: hubl("$cta2_textColor_hover");
    }
}

@mixin box-cta--3 {
    background-color: hubl("$cta3_backgroundColor");
    border-color: hubl("$cta3_borderColor");
    color: hubl("$cta3_textColor");

    &:hover {
        background-color: hubl("$cta3_backgroundColor_hover");
        border-color: hubl("$cta3_borderColor_hover");
        color: hubl("$cta3_textColor_hover");
    }
}