@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-thin.svg#posti_sans-thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-light.svg#posti_sans-light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-book.svg#posti_sans-book') format('svg');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-regular.svg#posti_sans-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-medium.svg#posti_sans-medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Posti Sans';
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.eot');
    src: url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.eot?#iefix') format('embedded-opentype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.woff') format('woff'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.ttf') format('truetype'),
    url('https://minun.posti.fi/hubfs/clickray/fonts/posti_sans-bold.svg#posti_sans-bold') format('svg');
    font-weight: 700;
    font-style: normal;
}


$dev_version : true;

$variables : (
	"$fontFamily": ('Posti Sans', sans-serif),
	"$secondaryFontFamily": ('Montserrat', sans-serif),

	"$firstColor": #EDBDBD,


	"$pink": #EDBDBD,
	"$violet": #5C2952,
	"$petrol": #29545C,
	"$navy": #1E3264,
	"$metsa": #38572B,
	"$metal": #394B58,
	"$peach": #FFA894,
	"$lightBrown": #D9BFAD,
	"$yellow": #F7CC7A,

	"$mainFontColor":#EDBDBD,
	"$articleFontColor": #3B4A57,
	"$headersFontColor": #EDBDBD,

	"$darkBackgroundsColor": #3F3D56,
	"$footerBackgroundColor": #2F2E41,

	"$errorColor": #ff0033,

	"$cta1_backgroundColor": #6C63FF,
	"$cta1_borderColor": #6C63FF,
	"$cta1_textColor": #ffffff,
	"$cta1_backgroundColor_hover": #ffffff,
	"$cta1_borderColor_hover": #6C63FF,
	"$cta1_textColor_hover": #6C63FF,

	"$cta2_backgroundColor": #ffffff,
	"$cta2_borderColor": #6C63FF,
	"$cta2_textColor": #6C63FF,
	"$cta2_backgroundColor_hover": #6C63FF,
	"$cta2_borderColor_hover": #6C63FF,
	"$cta2_textColor_hover": #ffffff,

	"$cta3_backgroundColor": transparent,
	"$cta3_borderColor": #ffffff,
	"$cta3_textColor": #ffffff,
	"$cta3_backgroundColor_hover": #ffffff,
	"$cta3_borderColor_hover": #ffffff,
	"$cta3_textColor_hover": #6C63FF
	);

$browser-context: 24; // Font size bazowy w px na body, html

// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

// Przelicznik z px na rem
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
		@return unquote('/*=={{ '+$var+' }}==*/');
		} @else {
			@return map-get($variables,$var);
		}
	}

	@function hubl_rgba($var,$alpha){
		@if $dev_version == false {
			@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
			} @else {
				@return rgba(map-get($variables,$var),$alpha);
			}
		}


	@function hubl_rgb($var){
		@if $dev_version == false {
			@return unquote('/*==rgb({{ '+$var+'|convert_rgb }})==*/');
			} @else {
				@return rgb(map-get($variables,$var));
			}
		}