// button styles are declared as mixins in src/scss/extends/extends.scss

.cta_button, .box-cta {
    @include box-cta;
}

.box-cta--1 {
    @include box-cta--1;
}

.box-cta--2 {
    @include box-cta--2;
}

.box-cta--3 {
    @include box-cta--3;
}