.hs_cos_wrapper_type_blog_subscribe,
.hs_cos_wrapper_type_form,
.hs_cos_wrapper_type_blog_comments {

  h3 {
    margin: 0;
  }

  form {
    max-width: 700px;
    margin: auto;

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    select {
      font-family: hubl("$fontFamily");
      background-color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      padding: rem(17) 22px;
      display: inline-block;
      box-sizing: border-box;
      font-size: rem(16);
      line-height: 1.66;
      border: 1px solid hubl("$darkBackgroundsColor");
      outline: none;
      color: hubl("$mainFontColor");
      border-radius: 32px;
      -webkit-appearance: none;
      transition: all .3s ease;


      &:placeholder-shown {
        border-color: hubl_rgba("$darkBackgroundsColor", 0.3);
      }

      &:invalid:not(:focus):not(:placeholder-shown), &.invalid  {
        border-color: hubl("$errorColor");
      }

      &:focus {
        border-color: hubl("$darkBackgroundsColor");
      }

      &:invalid:focus:not(:placeholder-shown) {
        border-color: hubl("$darkBackgroundsColor");
      }
    }

    .bfi-container {
      border-color: hubl_rgba("$darkBackgroundsColor", 0.3);

      &.bfi-container-active, &.hovering {
        border-color: hubl("$darkBackgroundsColor");
      }
    }

    textarea {
      overflow: auto;
      resize: vertical;
      min-height: rem(120);
    }

    input::-webkit-input-placeholder {
      color: hubl_rgba("$mainFontColor", 0.3);
    }

    input::-moz-placeholder {
      color: hubl_rgba("$mainFontColor", 0.3);
      opacity: 1;
    }

    input:-ms-input-placeholder {
      color: hubl_rgba("$mainFontColor", 0.3);
    }

    input:-moz-placeholder {
      color: hubl_rgba("$mainFontColor", 0.3);
      opacity: 1;
    }

    textarea::-webkit-input-placeholder {
      color: hubl_rgba("$mainFontColor", 0.3);
    }

    textarea::-moz-placeholder {
      color: hubl_rgba("$mainFontColor", 0.3);
      opacity: 1;
    }

    textarea:-ms-input-placeholder {
      color: hubl_rgba("$mainFontColor", 0.3);
    }

    textarea:-moz-placeholder {
      color: hubl_rgba("$mainFontColor", 0.3);
      opacity: 1;
    }

    select {
      padding-right: 50px;
      cursor: pointer;
    }

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
    }

    /*for IE10*/
    select::-ms-expand {
      display: none;
    }

    select::-ms-value {
      color: hubl_rgba("$mainFontColor", 0.3);
      background: transparent;
    }

    select:focus::-ms-value {
      color: hubl_rgba("$mainFontColor", 0.3);
      background: transparent;
    }

    .hs-fieldtype-select {

      .input {
        position: relative;

        &:after {
          pointer-events: none;
          position: absolute;
          display: block;
          content: "";
          width: 14px;
          height: 8px;
          right: 25px;
          top: 50%;
          transform: translateY(-50%);
          background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8"><g><line x1="0" y1="0" x2="7" y2="7" fill="none" stroke="'+ hubl_rgba("$darkBackgroundsColor", .999) + '" stroke-width="2" stroke-wstroke-linecap="round" stroke-linejoin="round" /><line x1="7" y1="7" x2="14" y2="0" fill="none" stroke="'+ hubl_rgba("$darkBackgroundsColor", .999) + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></g></svg>') center center no-repeat;
        }

      }
    }

    .hs-fieldtype-intl-phone {

      select,
      input[type=tel] {
        width: 100% !important;
      }

      select {
        padding-right: 22px;
        margin-bottom: rem(10) !important;
      }

      @media (min-width: 768px) {
        select {
          width: calc(40% - 20px) !important;
          margin-bottom: 0 !important;
        }

        input[type=tel] {
          width: 60% !important;
        }
      }


    }

    ul {
      margin-top: rem(4);
      margin-bottom: rem(10);

      li {
        position: relative;
      }
    }

    .inputs-list {
      list-style: none;
      padding-left: rem(30);

      .hs-form-checkbox,
      .hs-form-radio {
        margin-bottom: rem(10);

        &:first-of-type {
          margin-top: rem(16);
        }
      }
    }


    input[type="checkbox"] {
      position: absolute;
      left: rem(-30);
      z-index: 1;
      opacity: 0;
      cursor: pointer;

      +span {
        cursor: pointer;

        &:before {
          position: absolute;
          display: block;
          content: "";
          width: rem(17);
          height: rem(17);
          border: 1px solid hubl("$darkBackgroundsColor");
          left: rem(-30);
          top: 2px;
          border-radius: 4px;
          opacity: .3;
        }

        &:after {
          display: block;
          content: "";
          width: rem(16);
          height: rem(16);
          position: absolute;
          background-image: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Cobalt%20Modular/icons/checkbox-checked-dark.svg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          left: rem(-30);
          top: 3px;
          z-index: 1;
          opacity: 0;
          transition: all .2s linear;
        }
      }
    }

    .co-checkbox {
      fill: #fff;
      stroke: rgba(63, 61, 86, 0.3);
    }

    .co-checkbox-1 {
      stroke: none;
    }

    .co-checkbox-2 {
      fill: none;
    }

    input[type="checkbox"]:checked {

      +span {

        &:after {
          opacity: 1;
        }
      }
    }

    input[type="radio"] {
      position: absolute;
      z-index: 1;
      opacity: 0;
      cursor: pointer;

      +span {
        cursor: pointer;

        &:before {
          display: inline-block;
          content: "";
          width: rem(17);
          height: rem(17);
          border: 1px solid hubl("$darkBackgroundsColor");
          border-radius: 50%;
          opacity: .3;
          position: absolute;
          top: 2px;
          left: rem(-30);
          vertical-align: middle;
        }

        &:after {
          display: block;
          content: "";
          width: rem(17);
          height: rem(17);
          background-color: hubl("$darkBackgroundsColor");
          transform: scale(.6);
          border-radius: 50%;
          position: absolute;
          left: rem(-30);
          top: 2px;
          z-index: 1;
          opacity: 0;
          transition: all .2s linear;
        }
      }
    }

    input[type="radio"]:checked {

      +span {

        &:before {}

        &:after {
          opacity: 1;
        }
      }
    }

    .actions {
      display: inline-block;
      position: relative;
      margin-top: rem(10);
    }

    input[type="submit"] {
      -webkit-appearance: none;
      @include box-cta;
      @include box-cta--1;
      padding-left: 30px;
      padding-right: 30px;
      cursor: pointer;
    }

    .hs-form-required {
      display: none;
    }

    .hs-form-field {
      text-align: left;
      margin-bottom: rem(20);
      width: 100%;

      >label {
        display: block;
        margin-top: rem(10);
        margin-bottom: rem(10);
        line-height: 1;
      }
    }

    .hs-input {
      width: 100%;

      @media (max-width: 480px) {
        width: 100% !important;
      }
    }

    label {
      text-align: left;
    }

    .hs-error-msgs {
      text-align: left;
      list-style: none;
      padding: 0;
      font-size: rem(16);
      color: hubl("$errorColor");

      a {
        word-break: break-all;
      }
    }


    fieldset {
      min-width: 0;
      padding: 0;
      margin: 0;
      border: 0;
      max-width: none;
      width: 100%;

      .hs-form-field {

        &:last-of-type {
          margin-right: 0;
        }

        .hs-input {
          width: 100%;
        }

        .input {
          margin-right: 0;
        }
      }

      &.form-columns-1 {}

      &.form-columns-2 {

        .hs-form-field {
          width: 100%;

          @media (min-width: 768px) {
            max-width: calc(50% - 10px);
            margin-right: 20px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      &.form-columns-3 {

        .hs-form-field {
          width: 100%;

          @media (min-width: 768px) {
            max-width: calc(33.33% - 13.33px);
            margin-right: 20px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

    }

    .hs-recaptcha {
      margin-top: rem(20);
    }

    .legal-consent-container {
      font-size: rem(12);
      text-align: left;
      margin-top: 0;
      margin-bottom: rem(10);

      .hs-form-booleancheckbox-display {

        > span {
          display: inline-block;
          margin-left: 0;
        }
      }

      .inputs-list {
        padding-left: rem(22);
      }

      input[type="checkbox"] {

        & + span {

          &:before {
            width: 14px;
            height: 14px;
            left: -22px;
            top: 1px;
          }

          &:after {
            width: 13px;
            height: 13px;
            left: -22px;
            top: 1px;
          }
        }
      }

      .hs-error-msgs {
        font-size: inherit;
      }
    }
  }
}

.fc {

  &--white {

    form {

      a {
        color: #fff;
      }

      textarea,
      input[type="text"],
      input[type="password"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="date"],
      input[type="month"],
      input[type="time"],
      input[type="week"],
      input[type="number"],
      input[type="email"],
      input[type="url"],
      input[type="search"],
      input[type="tel"],
      input[type="color"],
      select {}

      input[type="checkbox"] {

        & + span {

          &:before {
            border: 1px solid #fff;
            opacity: .7;
          }

          &:after {
            background-image: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Cobalt%20Modular/icons/checkbox-checked-white.svg);
          }
        }
      }

      input[type="radio"] {

        & + span {

          &:before {
            border: 1px solid #fff;
            opacity: .7;
          }

          &:after {
            background-color: #fff;
          }
        }
      }

      input[type="submit"] {
        @include box-cta--3;
      }

      label {
        color: #fff;
      }

      .hs-form-field {
        & > label {
          color: #fff;
        }
      }


      .hs-error-msgs {

        label,
        a {
          color: hubl("$errorColor");
        }
      }
    }
  }
}

.box-inputs {

  &--text-white {

    form {

      textarea,
      input[type="text"],
      input[type="password"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="date"],
      input[type="month"],
      input[type="time"],
      input[type="week"],
      input[type="number"],
      input[type="email"],
      input[type="url"],
      input[type="search"],
      input[type="tel"],
      input[type="color"],
      select,
      .bfi-label,
      .bfi-file,
      .bfi-file i {
        color: #fff;
      }

      input::-webkit-input-placeholder {
        color: rgba(#fff, 0.5);
      }

      input::-moz-placeholder {
        color: rgba(#fff, 0.5);
        opacity: 1;
      }

      input:-ms-input-placeholder {
        color: rgba(#fff, 0.5);
      }

      input:-moz-placeholder {
        color: rgba(#fff, 0.5);
        opacity: 1;
      }

      textarea::-webkit-input-placeholder {
        color: rgba(#fff, 0.5);
      }

      textarea::-moz-placeholder {
        color: rgba(#fff, 0.5);
        opacity: 1;
      }

      textarea:-ms-input-placeholder {
        color: rgba(#fff, 0.5);
      }

      textarea:-moz-placeholder {
        color: rgba(#fff, 0.5);
        opacity: 1;
      }
    }
  }

  &--border-white {

    .hs_cos_wrapper_type_blog_subscribe,
    .hs_cos_wrapper_type_form,
    .hs_cos_wrapper_type_blog_comments {

      form {

        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        select {
          border-color: #fff;

          &:placeholder-shown {
            border-color: rgba(#fff, 0.3);
          }

          &:invalid:not(:focus):not(:placeholder-shown), &.invalid  {
            border-color: hubl("$errorColor");
          }

          &:focus {
            border-color: #fff;
          }

          &:invalid:focus:not(:placeholder-shown) {
            border-color: #fff;
          }
        }

        .bfi-container {
          border-color: rgba(#fff, 0.3);

          &.bfi-container-active, &.hovering {
            border-color: #fff;
          }
        }
      }
    }
  }

  &--background-transparent {

    .hs_cos_wrapper_type_blog_subscribe,
    .hs_cos_wrapper_type_form,
    .hs_cos_wrapper_type_blog_comments {

      form {

        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        select,
        .bfi-container,
        .bfi-file {
          background-color: transparent;
        }
      }
    }
  }
}

.box-submit {

  &--1 {

    .hs_cos_wrapper_type_blog_subscribe,
    .hs_cos_wrapper_type_form,
    .hs_cos_wrapper_type_blog_comments {

      form {

        .actions {
          color: hubl("$cta1_textColor");

          &:hover {
            color: hubl("$cta1_textColor_hover");
          }
        }

        input[type="submit"] {
          @include box-cta--1;
        }
      }
    }
  }

  &--2 {
    .hs_cos_wrapper_type_blog_subscribe,
    .hs_cos_wrapper_type_form,
    .hs_cos_wrapper_type_blog_comments {

      form {

        .actions {
          color: hubl("$cta2_textColor");

          &:hover {
            color: hubl("$cta2_textColor_hover");
          }
        }

        input[type="submit"] {
          @include box-cta--2;
        }
      }
    }
  }

  &--3 {
    .hs_cos_wrapper_type_blog_subscribe,
    .hs_cos_wrapper_type_form,
    .hs_cos_wrapper_type_blog_comments {

      form {

        .actions {
          color: hubl("$cta3_textColor");

          &:hover {
            color: hubl("$cta3_textColor_hover");
          }
        }

        input[type="submit"] {
          @include box-cta--3;
        }
      }
    }
  }

  &--left {
    .hs_cos_wrapper_type_blog_subscribe,
    .hs_cos_wrapper_type_form,
    .hs_cos_wrapper_type_blog_comments {

      form {

        .hs-submit {
          text-align: left;
        }
      }
    }
  }

  &--center {
    .hs_cos_wrapper_type_blog_subscribe,
    .hs_cos_wrapper_type_form,
    .hs_cos_wrapper_type_blog_comments {

      form {

        .hs-submit {
          text-align: center;
        }
      }
    }
  }

  &--right {
    .hs_cos_wrapper_type_blog_subscribe,
    .hs_cos_wrapper_type_form,
    .hs_cos_wrapper_type_blog_comments {

      form {

        .hs-submit {
          text-align: right;
        }
      }
    }
  }
}