* {
    outline: none;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

body .row-fluid [class*="span"] {
    min-height: 1px;
}

.body-container-wrapper {
    // padding-top: 100px;
}

// margin top
.mt {

    @for $i from 0 through 40 {
        &--#{$i*5} {
            margin-top: #{$i*5/$browser-context}rem;
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {
                margin-top: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {
                margin-top: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {
                margin-top: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 1200px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {
                margin-top: #{$i*5/$browser-context}rem;
            }
        }
    }
}

// margin bottom
.mb {

    @for $i from 0 through 40 {
        &--#{$i*5} {
            margin-bottom: #{$i*5/$browser-context}rem;
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {
                margin-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {
                margin-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {
                margin-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 1200px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {
                margin-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }
}

// padding top
.pt {

    @for $i from 0 through 40 {
        &--#{$i*5} {
            padding-top: #{$i*5/$browser-context}rem;
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {
                padding-top: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {
                padding-top: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {
                padding-top: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 1200px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {
                padding-top: #{$i*5/$browser-context}rem;
            }
        }
    }
}

// padding bottom
.pb {

    @for $i from 0 through 40 {
        &--#{$i*5} {
            padding-bottom: #{$i*5/$browser-context}rem;
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {
                padding-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {
                padding-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {
                padding-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }

    @media (min-width: 1200px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {
                padding-bottom: #{$i*5/$browser-context}rem;
            }
        }
    }
}

// padding left
.pl {

    @for $i from 0 through 40 {
        &--#{$i*5} {
            padding-left: #{$i*5}px !important;
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {
                padding-left: #{$i*5}px !important;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {
                padding-left: #{$i*5}px !important;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {
                padding-left: #{$i*5}px !important;
            }
        }
    }

    @media (min-width: 1200px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {
                padding-left: #{$i*5}px !important;
            }
        }
    }
}

// padding right
.pr {

    @for $i from 0 through 40 {
        &--#{$i*5} {
            padding-right: #{$i*5}px !important;
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {
                padding-right: #{$i*5}px !important;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {
                padding-right: #{$i*5}px !important;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {
                padding-right: #{$i*5}px !important;
            }
        }
    }

    @media (min-width: 1200px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {
                padding-right: #{$i*5}px !important;
            }
        }
    }
}

// margin bottom for modules in flexible column
.flex-mb {

    @for $i from 0 through 40 {
        &--#{$i*5} {

            >span {

                >div {
                    margin-bottom: #{$i*5/$browser-context}rem;
                }
            }
        }
    }

    @media (min-width: 576px) {

        @for $i from 0 through 40 {
            &--sm-#{$i*5} {

                >span {

                    >div {
                        margin-bottom: #{$i*5/$browser-context}rem;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 0 through 40 {
            &--md-#{$i*5} {

                >span {

                    >div {
                        margin-bottom: #{$i*5/$browser-context}rem;
                    }
                }
            }
        }

    }

    @media (min-width: 992px) {

        @for $i from 0 through 40 {
            &--lg-#{$i*5} {

                >span {

                    >div {
                        margin-bottom: #{$i*5/$browser-context}rem;
                    }
                }
            }
        }
    }

    @media (min-width: 1200px) {

        @for $i from 0 through 40 {
            &--xl-#{$i*5} {

                >span {

                    >div {
                        margin-bottom: #{$i*5/$browser-context}rem;
                    }
                }
            }
        }
    }
}

.box-container {
    max-width: 1200px;
    padding: 0 12.5px;
    width: 100%;
    margin: 0 auto;

    &--595 {
        max-width: 595px;
    }

    &--790 {
        max-width: 790px;
    }

    &--865 {
        max-width: 865px;
    }

    &--1140 {
        max-width: 1140px;
    }

    &--1440 {
        max-width: 1440px;
    }

    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

.bg {

    &--first-color {
        background-color: hubl("$firstColor");
    }

    &--dark-color {
        background-color: hubl("$darkBackgroundsColor");
    }

    &--footer-color {
        background-color: hubl("$footerBackgroundColor");
    }

    &--pink {
        background-color: hubl("$pink");
    }

    &--violet {
        background-color: hubl("$violet");
    }

    &--petrol {
        background-color: hubl("$petrol");
    }

    &--navy {
        background-color: hubl("$navy");
    }

    &--metsa {
        background-color: hubl("$metsa");
    }

    &--metal {
        background-color: hubl("$metal");
    }

    &--peach {
        background-color: hubl("$peach");
    }

    &--light-brown {
        background-color: hubl("$lightBrown");
    }

    &--yellow {
        background-color: hubl("$yellow");
    }

    &--white {
        background-color: #fff;
    }

    &--black {
        background-color: #000;
    }
}

.box-relative {
    position: relative;
}

.box-overflow-hidden {
    overflow: hidden;
}

.full-width-image {

    img {
        width: 100%;
    }
}