html {
    font-size: #{$browser-context}px;
}

.text-small {
    font-size: #{$browser-context - 4}px;
}

body {
    line-height: 1.3;
    font-family: hubl("$fontFamily");
    font-weight: normal;
    color: hubl("$mainFontColor");
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

small,
.small {
    font-size: 80%;
}

strong {
    font-weight: 500;
}

em, i {
    font-style: italic;
}

cite {

}

code {

}

pre {

}

sup, sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

p, li {
    font-size: rem(18);
    letter-spacing: -0.01em;

    @media (min-width: 576px) {
        font-size: rem(24);
    }
}

p {
    margin-top: 0;
    margin-bottom: rem(20);
}

address {
    font-style: normal;
}

// global & box template headers
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: hubl("$fontFamily");
    color: hubl("$headersFontColor");
    margin-top: 0;
    margin-bottom: rem(20);
    font-weight: normal;

    @media (min-width: 576px) {
        margin-bottom: rem(25);
    }

    a {
        color: inherit;
    }
}

h1, .h1 {
    font-size: rem(52);
    line-height: 1.1;
    letter-spacing: -0.01em;

    @media (min-width: 576px) {
        font-size: rem(88);
        line-height: 1.25;
        letter-spacing: -0.03em;
    }
}

h2, .h2 {
    font-size: rem(28);
    line-height: 1.1;
    letter-spacing: -0.01em;

    @media (min-width: 576px) {
        font-size: rem(48);
    }
}

h3, .h3 {
    font-size: rem(22);
    letter-spacing: -0.01em;
    line-height: 1.1;

    @media (min-width: 576px) {
        font-size: rem(36);
        line-height: 1.2;
    }
}

h4, .h4 {
    font-size: rem(30);
}

h5, .h5 {
    font-size: rem(28);
}

h6, .h6 {
    font-size: rem(26);
}

// article template typography override
.posti-box-article {

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-bottom: rem(20);

        @media (min-width: 576px) {
            margin-bottom: rem(25);
        }

        a {
            color: inherit;
        }
    }

    h1, .h1 {
        font-size: rem(38);
        line-height: 1.26;
        letter-spacing: -0.0046em; 
        margin-bottom: rem(30);

        @media (min-width: 576px) {
            font-size: rem(72);
            line-height: 1.25;
            letter-spacing: -0.0088em;
        }
    }

    h2, .h2 {
        font-size: rem(28);
        line-height: 1.1;
        letter-spacing: -0.01em;

        @media (min-width: 576px) {
            font-size: rem(32);
            line-height: 1.28;
        }
    }

    h3, .h3 {
        font-size: rem(22);
        letter-spacing: -0.01em;
        line-height: 1.1;

        @media (min-width: 576px) {
            font-size: rem(30);
            line-height: 1.2;
        }
    }

    h4, .h4 {
        font-size: rem(28);
    }

    h5, .h5 {
        font-size: rem(26);
    }

    h6, .h6 {
        font-size: rem(24);
    }


    p, li {
        font-size: rem(14);
        line-height: 1.57;
        letter-spacing: 0;

        @media (min-width: 576px) {
            font-size: rem(15);
            line-height: 1.46;
        }
    }
}


ul, ol {
    margin-top: 0;
    margin-bottom: rem(20);

    ul {

    }

    ol {

    }

}

ul {
    list-style: none;
}

li {

}

blockquote {
    display: inline-block;
    position: relative;
    font-style: italic;
    margin: 0;
    padding: 20px 30px 0px 50px;
    margin-bottom: rem(20);

    &:before {
        position: absolute;
        display: block;
        height: 100%;
        width: 20px;
        content: "";
        background-color: hubl("$firstColor");
        top: 0;
        left: 5px;
        opacity: .3;

        @media (min-width: 576px) {
            transform: skewX(-10deg);
        }
    }
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-underline-position: under;
    color: hubl("$headersFontColor");
    transition: all .3s ease;

    &:hover {
        text-decoration: underline;
    }

    &:not([href]) {
        color: inherit;
        text-decoration: none;
    }
}

.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_inline_rich_text {
    display: block;

    a:not(.box-cta):not(.cta_button) {
        color: hubl("$firstColor");
    }


    ul,
    ol {
        padding-left: 0;

        li {
            padding-left: 0.75em;
            margin-top: 0;
            margin-bottom: rem(10);

            @media (min-width: 576px) {
                padding-left: 1.25em;
            }

            > ul, ol {
                margin-top: rem(10)
            }
        }
    }

    ul {
        list-style-type: none;
        list-style-position: outside;

        > li {
            position: relative;

            &:before {
                content: "•";
                position: absolute;
                left: 0;
                width: 10px;
                height: 15px;
                top: .1em;
                text-align: center;
                font-size: 2em;
                line-height: 0.5em;
                vertical-align: middle;
                color: hubl("$firstColor");
            }
        }
    }

    ol {
        list-style-type: none;
        list-style-position: outside;
        counter-reset: list;

        > li {
            counter-increment: list;
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                color: hubl("$firstColor");
                content: counter(list) ".";
                display: inline-block;
            }

            > ol {

                > li {
                    padding-left: 2.5em;

                    &:before {
                        content: counters(list, ".") ".";
                    }
                }
            }
        }
    }

}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.fc {

    &--main-font-color {
        color: hubl("$mainFontColor");

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: hubl("$mainFontColor");
        }

        i {
            color: hubl("$mainFontColor");
        }

        blockquote {

            &:before {
                background-color: hubl("$mainFontColor");
                opacity: .5;
            }
        }

        ul {

            li {

                &:before {
                    color: hubl("$mainFontColor");
                }
            }
        }

        ol {

            li {

                &:before {
                    color: hubl("$mainFontColor");
                }
            }
        }
    }

    &--headers-font-color {
        color: hubl("$headersFontColor");

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: hubl("$headersFontColor");
        }

        a:not(.box-cta):not(.cta_button) {
            text-decoration: underline;
        }

        i {
            color: hubl("$headersFontColor");
        }

        blockquote {

            &:before {
                background-color: hubl("$headersFontColor");
                opacity: .5;
            }
        }

        ul {

            li {

                &:before {
                    color: hubl("$headersFontColor");
                }
            }
        }

        ol {

            li {

                &:before {
                    color: hubl("$headersFontColor");
                }
            }
        }
    }

    &--article-font-color {
        color: hubl("$articleFontColor");

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: hubl("$articleFontColor");
        }

        i {
            color: hubl("$articleFontColor");
        }

        blockquote {

            &:before {
                background-color: hubl("$articleFontColor");
                opacity: .5;
            }
        }

        ul {

            li {

                &:before {
                    color: hubl("$articleFontColor");
                }
            }
        }

        ol {

            li {

                &:before {
                    color: hubl("$articleFontColor");
                }
            }
        }
    }

    &--first-color {
        color: hubl("$firstColor");

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: hubl("$firstColor");
        }

        a:not(.box-cta):not(.cta_button) {
            text-decoration: underline;
        }

        i {
            color: hubl("$firstColor");
        }

        blockquote {

            &:before {
                background-color: hubl("$firstColor");
                opacity: .5;
            }
        }

        ul {

            li {

                &:before {
                    color: hubl("$firstColor");
                }
            }
        }

        ol {

            li {

                &:before {
                    color: hubl("$firstColor");
                }
            }
        }
    }

    &--dark-color {
        color: hubl("$darkBackgroundsColor");

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: hubl("$darkBackgroundsColor");
        }

        i {
            color: hubl("$darkBackgroundsColor");
        }

        blockquote {

            &:before {
                background-color: hubl("$darkBackgroundsColor");
                opacity: .5;
            }
        }

        ul {

            li {

                &:before {
                    color: hubl("$darkBackgroundsColor");
                }
            }
        }

        ol {

            li {

                &:before {
                    color: hubl("$darkBackgroundsColor");
                }
            }
        }
    }

    &--footer-color {
        color: hubl("$footerBackgroundColor");

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: hubl("$footerBackgroundColor");
        }

        i {
            color: hubl("$footerBackgroundColor");
        }

        blockquote {

            &:before {
                background-color: hubl("$footerBackgroundColor");
                opacity: .5;
            }
        }

        ul {

            li {

                &:before {
                    color: hubl("$footerBackgroundColor");
                }
            }
        }

        ol {

            li {

                &:before {
                    color: hubl("$footerBackgroundColor");
                }
            }
        }
    }

    &--white {
        color: #fff;

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: #fff;
        }

        a:not(.box-cta):not(.cta_button) {
            color: #fff;
            text-decoration: underline;
        }

        i {
            color: #fff;
        }

        blockquote {

            &:before {
                background-color: #fff;
                opacity: .5;
            }
        }

        ul {

            li {

                &:before {
                    color: #fff;
                }
            }
        }

        ol {

            li {

                &:before {
                    color: #fff;
                }
            }
        }
    }

    &--black {
        color: #000;

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: #000;
        }

        i {
            color: #000;
        }

        blockquote {

            &:before {
                background-color: #000;
                opacity: .5;
            }
        }

        ul {

            li {

                &:before {
                    color: #000;
                }
            }
        }

        ol {

            li {

                &:before {
                    color: #000;
                }
            }
        }
    }
}

.fs {

    &--12 {
        font-size: 12px;

        p, li {
            font-size: rem(12);
            line-height: 1.66;
        }
    }

    &--15 {
        font-size: 15px;

        p, li {
            font-size: rem(14);

            @media (min-width: 576px) {
                font-size: rem(15);
            }
        }
    }

    &--18 {
        font-size: 18px;

        p, li {
            font-size: rem(16);

            @media (min-width: 576px) {
                font-size: rem(18);
            }
        }
    }

    &--22 {
        font-size: 22px;

        p, li {
            font-size: rem(16);
            letter-spacing: 0.002em;
            line-height: 1.625;

            @media (min-width: 576px) {
                font-size: rem(22);
                letter-spacing: 0.0027em;
                line-height: 1.45;
            }
        }
    }
}

.ff {

    &--secondary-regular {

        p, li, a, span {
            font-family: hubl("$secondaryFontFamily");
        }
    }

    &--secondary-medium {

        p, li, a, span {
            font-family: hubl("$secondaryFontFamily");
            font-weight: 500;
        }

        strong {
            font-weight: 700;
        }
    }

    &--secondary-bold {

        p, li, a, span {
            font-family: hubl("$secondaryFontFamily");
            font-weight: 700;
        }

        strong {
            font-weight: 700;
        }
    }
}